.image1{
    /* width: 104%;
    height: 465px; */
    background-image: url("./img/mbr.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}
.img-container {
    height: 50vh; /* Adjust the height as needed */
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgpos{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

@media screen and (min-width: 768px){
    
.movediv{
    position: relative;
    right: 100px;
    top: 80px;
}
    
}